html, body{
    /* margin: 0;
    padding: 0; */
}
.wrapper{
    display:block ;
    justify-content: center;
    text-align: center;
    padding:10px;
}
.wrapper  .image{
    width: 5%;
    margin-left: 340px;
    margin-top: 10px;

}
.logo{
    margin: -5px auto 20px auto;
}
.container{
    width: 380px; 
    height: 46vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid  #ae805c;
    border-radius: 10px;
}
h2{
    font-size: 25px;
    font-family: Arial;
    color: #e8b283;
}
span{
    position: relative;
    left: -122px;
    top: 31px;
    font-size: 13px;
    font-family: arial;
    color: rgb(78, 76, 76);
}
.fa-mobile{
    position: relative;
    top: 32px;
    left: -178px;
    color: #e8b283;
}
.container input[type="text"]{
    width: 54%;
    padding: 10px 65px;
    margin: 5px;
    border: none;
    border-bottom: 1px solid #eee;
}
.container input[type="text"]:focus{
    outline: none;
}
input[type="password"]{
    width: 71%;
    padding: 10px 32px;
    margin: 20px 20px;
    border: none;
    border-bottom: 1px solid #eee;
}
input[type="password"]:focus{
    outline: none;
}
.fa-lock{
    position: relative;
    top: 46px;
    left: -160px;
    color: #e8b283;
}
.container input[type="button"]{
    width: 90%;
    padding: 12px;
    margin-top:10px ;
    margin-bottom: auto;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #fdca93, #eca15d);
    font-weight: bold;
    color: #fff;
}
.container input[type="button"]:hover{
    background:#fdca93;
}
.container + p{
    font-size: 11.5px;
    font-family: arial;
    letter-spacing: 0.5px;
}
.container + p a{
    color: #886042;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
.footer a{
    font-size: 16px;
    font-family: arial;
    color: #886042;
    text-decoration: none;
}
.footer a:hover, p a:hover{
    text-decoration: underline;
}
.wrapper > img:nth-child(even){
    margin-top: -30px;
}

/* @media  screen and (min-width: ){} */

@media  screen and (max-width: 400px){
    .wrapper{
        margin:auto;
    }
    .container{
        width:auto;
        height: 38vh;
    }
    .wrapper .image{
        width: 12%;
        margin-left:320px;
    }
    .logo{
        width: 300%;
        margin: 0 auto 20px -360px;
    }
    .container input[type="button"]{
        width: 95%;
    }
    .container ~ img{
        width: 140px;
        padding: 1px;
    }
    span{
        position: relative;
        left: -108px;
        top: 31px;
        font-size: 13px;
        font-family: arial;
        color: rgb(78, 76, 76);
    }
    .fa-mobile{
        position: relative;
        top: 32px;
        left: -166px;
        color: #e8b283;
    }
    .fa-lock{
        position: relative;
        top: 46px;
        left: -147px;
        color: #e8b283;
    }
} 


















